body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1879px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:-11px;
  top:0px;
  width:1901px;
  height:1560px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:1560px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:987px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:987px;
}
#u2 {
  position:absolute;
  left:2px;
  top:486px;
  width:1897px;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:478px;
  top:640px;
  width:232px;
  height:133px;
  overflow:hidden;
}
#u3_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:133px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4 {
  position:absolute;
  left:-225px;
  top:0px;
  width:245px;
  height:133px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:133px;
}
#u5 {
  position:absolute;
  left:2px;
  top:58px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:478px;
  top:640px;
  width:230px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:720px;
  top:640px;
  width:232px;
  height:133px;
  overflow:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:133px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:-220px;
  top:0px;
  width:245px;
  height:133px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:133px;
}
#u9 {
  position:absolute;
  left:2px;
  top:58px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:962px;
  top:640px;
  width:232px;
  height:133px;
  overflow:hidden;
}
#u10_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:133px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u10_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:-220px;
  top:0px;
  width:245px;
  height:133px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:133px;
}
#u12 {
  position:absolute;
  left:2px;
  top:58px;
  width:241px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:1204px;
  top:640px;
  width:232px;
  height:133px;
  overflow:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:133px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:-220px;
  top:0px;
  width:247px;
  height:133px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:247px;
  height:133px;
}
#u15 {
  position:absolute;
  left:2px;
  top:58px;
  width:243px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:721px;
  top:643px;
  width:230px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:964px;
  top:643px;
  width:230px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:1204px;
  top:643px;
  width:230px;
  height:130px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:880px;
  top:590px;
  width:20px;
  height:16px;
}
#u20 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u21 {
  position:absolute;
  left:903px;
  top:590px;
  width:20px;
  height:16px;
}
#u22 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u23 {
  position:absolute;
  left:950px;
  top:590px;
  width:20px;
  height:16px;
}
#u24 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u25 {
  position:absolute;
  left:927px;
  top:590px;
  width:20px;
  height:16px;
}
#u26 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u27 {
  position:absolute;
  left:973px;
  top:590px;
  width:20px;
  height:16px;
}
#u28 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u29 {
  position:absolute;
  left:997px;
  top:590px;
  width:20px;
  height:16px;
}
#u30 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u31 {
  position:absolute;
  left:1099px;
  top:14px;
  width:138px;
  height:112px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:112px;
}
#u32 {
  position:absolute;
  left:2px;
  top:48px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:1148px;
  top:30px;
  width:50px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:1290px;
  top:20px;
  width:90px;
  height:72px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:72px;
}
#u35 {
  position:absolute;
  left:2px;
  top:28px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:1320px;
  top:36px;
  width:50px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:1470px;
  top:0px;
  width:102px;
  height:87px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:87px;
}
#u38 {
  position:absolute;
  left:2px;
  top:36px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:1504px;
  top:32px;
  width:50px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u40 {
  position:absolute;
  left:478px;
  top:920px;
  width:82px;
  height:7px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:7px;
}
#u41 {
  position:absolute;
  left:2px;
  top:-4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:496px;
  top:870px;
  width:246px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u43 {
  position:absolute;
  left:820px;
  top:920px;
  width:82px;
  height:7px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:7px;
}
#u44 {
  position:absolute;
  left:2px;
  top:-4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:820px;
  top:870px;
  width:246px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u46 {
  position:absolute;
  left:1164px;
  top:919px;
  width:82px;
  height:8px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:8px;
}
#u47 {
  position:absolute;
  left:2px;
  top:-4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:1164px;
  top:870px;
  width:246px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u49 {
  position:absolute;
  left:478px;
  top:170px;
  width:956px;
  height:410px;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:410px;
}
#u50 {
  position:absolute;
  left:2px;
  top:197px;
  width:952px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:478px;
  top:170px;
  width:956px;
  height:410px;
  overflow:hidden;
}
#u51_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:410px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52 {
  position:absolute;
  left:-50px;
  top:0px;
  width:1011px;
  height:660px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1011px;
  height:660px;
}
#u53 {
  position:absolute;
  left:2px;
  top:322px;
  width:1007px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:410px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:410px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:410px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:410px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:956px;
  height:410px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u51_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:1560px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:987px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:987px;
}
#u55 {
  position:absolute;
  left:2px;
  top:486px;
  width:1897px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:880px;
  top:590px;
  width:20px;
  height:16px;
}
#u57 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u58 {
  position:absolute;
  left:903px;
  top:590px;
  width:20px;
  height:16px;
}
#u59 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u60 {
  position:absolute;
  left:950px;
  top:590px;
  width:20px;
  height:16px;
}
#u61 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u62 {
  position:absolute;
  left:927px;
  top:590px;
  width:20px;
  height:16px;
}
#u63 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u64 {
  position:absolute;
  left:973px;
  top:590px;
  width:20px;
  height:16px;
}
#u65 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u66 {
  position:absolute;
  left:997px;
  top:590px;
  width:20px;
  height:16px;
}
#u67 {
  position:absolute;
  left:16px;
  top:0px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u66_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u68 {
  position:absolute;
  left:1099px;
  top:14px;
  width:138px;
  height:112px;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:112px;
}
#u69 {
  position:absolute;
  left:2px;
  top:48px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:1143px;
  top:33px;
  width:50px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u71 {
  position:absolute;
  left:1290px;
  top:20px;
  width:90px;
  height:72px;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:72px;
}
#u72 {
  position:absolute;
  left:2px;
  top:28px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:1320px;
  top:36px;
  width:50px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u74 {
  position:absolute;
  left:1470px;
  top:0px;
  width:102px;
  height:87px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:87px;
}
#u75 {
  position:absolute;
  left:2px;
  top:36px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:1504px;
  top:32px;
  width:50px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u77 {
  position:absolute;
  left:478px;
  top:920px;
  width:82px;
  height:7px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:7px;
}
#u78 {
  position:absolute;
  left:2px;
  top:-4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:820px;
  top:920px;
  width:82px;
  height:7px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:7px;
}
#u80 {
  position:absolute;
  left:2px;
  top:-4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:1164px;
  top:919px;
  width:82px;
  height:8px;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:8px;
}
#u82 {
  position:absolute;
  left:2px;
  top:-4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:961px;
  width:1903px;
  height:599px;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1903px;
  height:599px;
}
#u84 {
  position:absolute;
  left:2px;
  top:292px;
  width:1899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:580px;
  top:163px;
  width:622px;
  height:16px;
  font-family:'默陌信笺手写体 Bold', '默陌信笺手写体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  visibility:hidden;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:0px;
  top:116px;
  width:1900px;
  height:778px;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1900px;
  height:778px;
}
#u88 {
  position:absolute;
  left:2px;
  top:381px;
  width:1896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:37px;
  top:163px;
  width:1823px;
  height:1547px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1823px;
  height:1547px;
}
#u90 {
  position:absolute;
  left:2px;
  top:766px;
  width:1819px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:60px;
  top:174px;
  width:80px;
  height:43px;
  font-family:'蹂躏太行 Bold', '蹂躏太行';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#936B57;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:43px;
}
#u91_img.mouseOver {
}
#u91.mouseOver {
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:137px;
  top:178px;
  width:20px;
  height:30px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u94 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:60px;
  top:237px;
  width:400px;
  height:273px;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:273px;
}
#u96 {
  position:absolute;
  left:2px;
  top:128px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:60px;
  top:460px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u97_img.mouseOver {
}
#u97.mouseOver {
}
#u98 {
  position:absolute;
  left:2px;
  top:14px;
  width:396px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:510px;
  top:239px;
  width:400px;
  height:271px;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:271px;
}
#u100 {
  position:absolute;
  left:2px;
  top:128px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:510px;
  top:460px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u101_img.mouseOver {
}
#u101.mouseOver {
}
#u102 {
  position:absolute;
  left:2px;
  top:14px;
  width:396px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:960px;
  top:239px;
  width:400px;
  height:271px;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:271px;
}
#u104 {
  position:absolute;
  left:2px;
  top:128px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:960px;
  top:460px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u105_img.mouseOver {
}
#u105.mouseOver {
}
#u106 {
  position:absolute;
  left:2px;
  top:14px;
  width:396px;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:1423px;
  top:239px;
  width:397px;
  height:271px;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:271px;
}
#u108 {
  position:absolute;
  left:2px;
  top:128px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:1423px;
  top:460px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u109_img.mouseOver {
}
#u109.mouseOver {
}
#u110 {
  position:absolute;
  left:2px;
  top:14px;
  width:396px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:62px;
  top:570px;
  width:398px;
  height:271px;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:398px;
  height:271px;
}
#u112 {
  position:absolute;
  left:2px;
  top:128px;
  width:394px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:60px;
  top:791px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u113_img.mouseOver {
}
#u113.mouseOver {
}
#u114 {
  position:absolute;
  left:2px;
  top:14px;
  width:396px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:515px;
  top:571px;
  width:395px;
  height:270px;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:270px;
}
#u116 {
  position:absolute;
  left:2px;
  top:127px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:515px;
  top:791px;
  width:395px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:50px;
}
#u117_img.mouseOver {
}
#u117.mouseOver {
}
#u118 {
  position:absolute;
  left:2px;
  top:14px;
  width:391px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:960px;
  top:570px;
  width:396px;
  height:271px;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:271px;
}
#u120 {
  position:absolute;
  left:2px;
  top:128px;
  width:392px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:960px;
  top:791px;
  width:395px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:50px;
}
#u121_img.mouseOver {
}
#u121.mouseOver {
}
#u122 {
  position:absolute;
  left:2px;
  top:14px;
  width:391px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:1420px;
  top:570px;
  width:400px;
  height:265px;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:265px;
}
#u124 {
  position:absolute;
  left:2px;
  top:124px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:1420px;
  top:785px;
  width:400px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:50px;
}
#u125_img.mouseOver {
}
#u125.mouseOver {
}
#u126 {
  position:absolute;
  left:2px;
  top:14px;
  width:396px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:157px;
  top:190px;
  width:65px;
  height:19px;
  font-family:'AjiwaiPro Bold', 'AjiwaiPro';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u129 {
  position:absolute;
  left:60px;
  top:874px;
  width:80px;
  height:43px;
  font-family:'蹂躏太行 Bold', '蹂躏太行';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#936B57;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:43px;
}
#u129_img.mouseOver {
}
#u129.mouseOver {
}
#u130 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u131 {
  position:absolute;
  left:137px;
  top:878px;
  width:20px;
  height:30px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:30px;
}
#u132 {
  position:absolute;
  left:2px;
  top:7px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:157px;
  top:890px;
  width:49px;
  height:19px;
  font-family:'AjiwaiPro Bold', 'AjiwaiPro';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:19px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:1560px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:987px;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:987px;
}
#u136 {
  position:absolute;
  left:2px;
  top:486px;
  width:1897px;
  word-wrap:break-word;
}
#u137 {
  position:absolute;
  left:1099px;
  top:14px;
  width:138px;
  height:112px;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:112px;
}
#u138 {
  position:absolute;
  left:2px;
  top:48px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139 {
  position:absolute;
  left:1143px;
  top:33px;
  width:50px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u140 {
  position:absolute;
  left:1290px;
  top:20px;
  width:90px;
  height:72px;
}
#u140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:72px;
}
#u141 {
  position:absolute;
  left:2px;
  top:28px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u142 {
  position:absolute;
  left:1320px;
  top:36px;
  width:50px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u143 {
  position:absolute;
  left:1470px;
  top:0px;
  width:102px;
  height:87px;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:87px;
}
#u144 {
  position:absolute;
  left:2px;
  top:36px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u145 {
  position:absolute;
  left:1504px;
  top:32px;
  width:50px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u146 {
  position:absolute;
  left:478px;
  top:920px;
  width:82px;
  height:7px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:7px;
}
#u147 {
  position:absolute;
  left:2px;
  top:-4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:820px;
  top:920px;
  width:82px;
  height:7px;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:7px;
}
#u149 {
  position:absolute;
  left:2px;
  top:-4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:580px;
  top:163px;
  width:622px;
  height:16px;
  font-family:'默陌信笺手写体 Bold', '默陌信笺手写体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:16px;
}
#u151 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  visibility:hidden;
  white-space:nowrap;
}
#u152 {
  position:absolute;
  left:0px;
  top:119px;
  width:1905px;
  height:1441px;
}
#u152_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:1441px;
}
#u153 {
  position:absolute;
  left:2px;
  top:712px;
  width:1901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u154 {
  position:absolute;
  left:450px;
  top:124px;
  width:1010px;
  height:1436px;
}
#u154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:1436px;
}
#u155 {
  position:absolute;
  left:2px;
  top:710px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u156 {
  position:absolute;
  left:480px;
  top:163px;
  width:80px;
  height:43px;
  font-family:'蹂躏太行 Bold', '蹂躏太行';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#936B57;
}
#u156_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:43px;
}
#u156_img.mouseOver {
}
#u156.mouseOver {
}
#u157 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u158 {
  position:absolute;
  left:557px;
  top:159px;
  width:30px;
  height:44px;
}
#u158_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u159 {
  position:absolute;
  left:2px;
  top:14px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u160 {
  position:absolute;
  left:586px;
  top:176px;
  width:41px;
  height:24px;
  font-family:'AjiwaiPro Bold', 'AjiwaiPro';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u161 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u162 {
  position:absolute;
  left:631px;
  top:159px;
  width:30px;
  height:44px;
}
#u162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u163 {
  position:absolute;
  left:2px;
  top:14px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u164 {
  position:absolute;
  left:574px;
  top:220px;
  width:753px;
  height:515px;
}
#u164_img {
  position:absolute;
  left:0px;
  top:0px;
  width:753px;
  height:515px;
}
#u165 {
  position:absolute;
  left:2px;
  top:250px;
  width:749px;
  visibility:hidden;
  word-wrap:break-word;
}
#u166 {
  position:absolute;
  left:690px;
  top:172px;
  width:425px;
  height:36px;
  font-family:'默陌信笺手写体 Bold', '默陌信笺手写体';
  font-weight:700;
  font-style:normal;
  font-size:30px;
  color:#936B57;
}
#u166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  height:36px;
}
#u167 {
  position:absolute;
  left:0px;
  top:0px;
  width:425px;
  white-space:nowrap;
}
#u168 {
  position:absolute;
  left:554px;
  top:745px;
  width:802px;
  height:805px;
  font-family:'全新硬笔行书简 Regular', '全新硬笔行书简';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#936B57;
  line-height:40px;
}
#u168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:805px;
}
#u169 {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  word-wrap:break-word;
}
#u170 {
  position:absolute;
  left:459px;
  top:166px;
  width:202px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:1560px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u171 {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:987px;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:987px;
}
#u172 {
  position:absolute;
  left:2px;
  top:486px;
  width:1897px;
  word-wrap:break-word;
}
#u173 {
  position:absolute;
  left:1099px;
  top:14px;
  width:138px;
  height:112px;
}
#u173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:112px;
}
#u174 {
  position:absolute;
  left:2px;
  top:48px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175 {
  position:absolute;
  left:1143px;
  top:33px;
  width:50px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u176 {
  position:absolute;
  left:1290px;
  top:20px;
  width:90px;
  height:72px;
}
#u176_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:72px;
}
#u177 {
  position:absolute;
  left:2px;
  top:28px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  position:absolute;
  left:1320px;
  top:36px;
  width:50px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u179 {
  position:absolute;
  left:1470px;
  top:0px;
  width:102px;
  height:87px;
}
#u179_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:87px;
}
#u180 {
  position:absolute;
  left:2px;
  top:36px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  position:absolute;
  left:1504px;
  top:32px;
  width:50px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u182 {
  position:absolute;
  left:478px;
  top:920px;
  width:82px;
  height:7px;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:7px;
}
#u183 {
  position:absolute;
  left:2px;
  top:-4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:820px;
  top:920px;
  width:82px;
  height:7px;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:7px;
}
#u185 {
  position:absolute;
  left:2px;
  top:-4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:580px;
  top:163px;
  width:622px;
  height:16px;
  font-family:'默陌信笺手写体 Bold', '默陌信笺手写体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  visibility:hidden;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:0px;
  top:119px;
  width:1905px;
  height:1421px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:1421px;
}
#u189 {
  position:absolute;
  left:2px;
  top:702px;
  width:1901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:450px;
  top:124px;
  width:1010px;
  height:1416px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:1416px;
}
#u191 {
  position:absolute;
  left:2px;
  top:700px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u192 {
  position:absolute;
  left:480px;
  top:163px;
  width:80px;
  height:43px;
  font-family:'蹂躏太行 Bold', '蹂躏太行';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#936B57;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:43px;
}
#u192_img.mouseOver {
}
#u192.mouseOver {
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:557px;
  top:159px;
  width:30px;
  height:44px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u195 {
  position:absolute;
  left:2px;
  top:14px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196 {
  position:absolute;
  left:586px;
  top:176px;
  width:41px;
  height:24px;
  font-family:'AjiwaiPro Bold', 'AjiwaiPro';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:650px;
  top:159px;
  width:30px;
  height:44px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u199 {
  position:absolute;
  left:2px;
  top:14px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200 {
  position:absolute;
  left:690px;
  top:172px;
  width:725px;
  height:29px;
  font-family:'默陌信笺手写体 Bold', '默陌信笺手写体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#936B57;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:29px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:560px;
  top:600px;
  width:802px;
  height:917px;
  font-family:'全新硬笔行书简 Regular', '全新硬笔行书简';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#936B57;
  line-height:40px;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:917px;
}
#u203 {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  word-wrap:break-word;
}
#u204 {
  position:absolute;
  left:471px;
  top:166px;
  width:202px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u205 {
  position:absolute;
  left:601px;
  top:213px;
  width:708px;
  height:370px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:370px;
}
#u206 {
  position:absolute;
  left:2px;
  top:177px;
  width:704px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:1560px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u207 {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:987px;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:987px;
}
#u208 {
  position:absolute;
  left:2px;
  top:486px;
  width:1897px;
  word-wrap:break-word;
}
#u209 {
  position:absolute;
  left:1099px;
  top:14px;
  width:138px;
  height:112px;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:112px;
}
#u210 {
  position:absolute;
  left:2px;
  top:48px;
  width:134px;
  visibility:hidden;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:1143px;
  top:33px;
  width:50px;
  height:86px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u212 {
  position:absolute;
  left:1290px;
  top:20px;
  width:90px;
  height:72px;
}
#u212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:72px;
}
#u213 {
  position:absolute;
  left:2px;
  top:28px;
  width:86px;
  visibility:hidden;
  word-wrap:break-word;
}
#u214 {
  position:absolute;
  left:1320px;
  top:36px;
  width:50px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u215 {
  position:absolute;
  left:1470px;
  top:0px;
  width:102px;
  height:87px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:87px;
}
#u216 {
  position:absolute;
  left:2px;
  top:36px;
  width:98px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:1504px;
  top:32px;
  width:50px;
  height:81px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u218 {
  position:absolute;
  left:478px;
  top:920px;
  width:82px;
  height:7px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:7px;
}
#u219 {
  position:absolute;
  left:2px;
  top:-4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u220 {
  position:absolute;
  left:820px;
  top:920px;
  width:82px;
  height:7px;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:7px;
}
#u221 {
  position:absolute;
  left:2px;
  top:-4px;
  width:78px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:580px;
  top:163px;
  width:622px;
  height:16px;
  font-family:'默陌信笺手写体 Bold', '默陌信笺手写体';
  font-weight:700;
  font-style:normal;
  font-size:22px;
  color:#666666;
}
#u222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  height:16px;
}
#u223 {
  position:absolute;
  left:0px;
  top:0px;
  width:622px;
  visibility:hidden;
  white-space:nowrap;
}
#u224 {
  position:absolute;
  left:0px;
  top:119px;
  width:1905px;
  height:1421px;
}
#u224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1905px;
  height:1421px;
}
#u225 {
  position:absolute;
  left:2px;
  top:702px;
  width:1901px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226 {
  position:absolute;
  left:450px;
  top:124px;
  width:1010px;
  height:1416px;
}
#u226_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1010px;
  height:1416px;
}
#u227 {
  position:absolute;
  left:2px;
  top:700px;
  width:1006px;
  visibility:hidden;
  word-wrap:break-word;
}
#u228 {
  position:absolute;
  left:480px;
  top:163px;
  width:80px;
  height:43px;
  font-family:'蹂躏太行 Bold', '蹂躏太行';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#936B57;
}
#u228_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:43px;
}
#u228_img.mouseOver {
}
#u228.mouseOver {
}
#u229 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u230 {
  position:absolute;
  left:557px;
  top:159px;
  width:30px;
  height:44px;
}
#u230_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u231 {
  position:absolute;
  left:2px;
  top:14px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u232 {
  position:absolute;
  left:586px;
  top:176px;
  width:41px;
  height:24px;
  font-family:'AjiwaiPro Bold', 'AjiwaiPro';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#999999;
}
#u232_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u233 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u234 {
  position:absolute;
  left:650px;
  top:159px;
  width:30px;
  height:44px;
}
#u234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:44px;
}
#u235 {
  position:absolute;
  left:2px;
  top:14px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u236 {
  position:absolute;
  left:690px;
  top:172px;
  width:725px;
  height:29px;
  font-family:'默陌信笺手写体 Bold', '默陌信笺手写体';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#936B57;
}
#u236_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:29px;
}
#u237 {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  white-space:nowrap;
}
#u238 {
  position:absolute;
  left:560px;
  top:600px;
  width:802px;
  height:917px;
  font-family:'全新硬笔行书简 Regular', '全新硬笔行书简';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#936B57;
  line-height:40px;
}
#u238_img {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  height:917px;
}
#u239 {
  position:absolute;
  left:0px;
  top:0px;
  width:802px;
  word-wrap:break-word;
}
#u240 {
  position:absolute;
  left:471px;
  top:166px;
  width:202px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u241 {
  position:absolute;
  left:598px;
  top:230px;
  width:725px;
  height:391px;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:725px;
  height:391px;
}
#u242 {
  position:absolute;
  left:2px;
  top:188px;
  width:721px;
  visibility:hidden;
  word-wrap:break-word;
}
#u0_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:1901px;
  height:1560px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
